/monero-binaries/monero-x86_64-linux-gnu-*
monero-wallet-rpc.log
emptywallet
emptywallet.keys
emptywallet.address.txt
ExampleLocalTestnetWallet*
.localnet
monero-wallet-cli.log
monero-wallet-cli
monero-wallet-rpc
monerod